<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="HREntitiesStore" connectionString="metadata=res://*/Model.ModelStore.csdl|res://*/Model.ModelStore.ssdl|res://*/Model.ModelStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-D26MECS;initial catalog=HR;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="HREntitiesVoucher" connectionString="metadata=res://*/Model.ModelVoucher.csdl|res://*/Model.ModelVoucher.ssdl|res://*/Model.ModelVoucher.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-D26MECS;initial catalog=HR;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>